[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = ">=6"
ansible-core = ">=2.13"
ansible-lint = "6.7.0"
yamllint = "*"
docker = "*"
molecule = ">=4"
molecule-docker = "*"
