{% if php_apc_enabled_in_ini %}
extension=apc.so
{% endif %}
apc.shm_size={{ php_apc_shm_size }}
apc.stat={{ php_apc_stat }}
apc.enable_cli={{ php_apc_enable_cli }}
apc.rfc1867=1
apc.cache_by_default={{ php_apc_cache_by_default }}
