[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service] 
Type=notify
PIDFile=/run/php/php5.6-fpm.pid
ExecStart=/usr/sbin/{{ php_fpm_daemon }} --nodaemonize --fpm-config {{ php_fpm_conf_path }}
ExecReload=/bin/kill -USR2 $MAINPID
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
