zend_extension={{ php_opcache_zend_extension }}
{% for key, var in opcache_vars.items() %}
opcache.{{ key }}={{ var }}
{% endfor %}
{% if php_opcache_blacklist_filename != '' %}
opcache.blacklist_filename={{ php_opcache_blacklist_filename }}
{% endif %}
