zend_extension={{ php_opcache.zend_extension }}
{% for key, value in php_opcache.items() %}
{% if value != '' and key != 'conf_filename' and 'key' != 'zend_extension' %}
opcache.{{key}}={{ value }}
{% endif %}
{% endfor %}
