[www]
listen = {{ php_fpm_listen }}
listen.allowed_clients = {{ php_fpm_listen_allowed_clients }}
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

listen.owner = {{ php_fpm_pool_user }}
listen.group = {{ php_fpm_pool_group }}

pm = {{ php_fpm_pm }}
pm.max_children = {{ php_fpm_pm_max_children }}
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}
pm.max_requests = {{ php_fpm_pm_max_requests }}
