; {{ ansible_managed }}
zend_extension=xdebug.so

xdebug.mode = debug
xdebug.idekey = {{ php_xdebug_idekey }}
xdebug.client_host = {{ php_xdebug_remote_host }}
xdebug.client_port = {{ php_xdebug_remote_port }}
xdebug.max_nesting_level = {{ php_xdebug_max_nesting_level }}
xdebug.show_error_trace = {{ php_xdebug_show_error_trace }}
{% if php_xdebug_log_path is defined and php_xdebug_log_path|length %}
xdebug.log = {{ php_xdebug_log_path }}
{% endif %}
